*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
    background-color: black;
}

/* start header */
h1{
    color: #FFA500;
}




.header-container {
    background-size: 100% 100%;
    background-color: black;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Poppins',sans-serif;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . . . . . . . . . ."
    ". Nav Nav . . . . . . . . ."
    ". Nav Nav . Logo Logo Logo Logo . . . ."
    ". Nav Nav . Logo Logo Logo Logo . . . ."
    ". Nav Nav . . . . . . . . ."
    ". . . . . icon icon . . . . .";
}

.Logo{
    
    text-align: center;
    grid-area: Logo
}

.Nav-bar{
    grid-area: Nav
}

.icon{ 
    color: white;
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mouse{
    width: 25px;
    height: auto;
}

.list-holder{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}

.list-title{
    text-decoration: none;
    color: #07D2FF;
}

/* end header */


/* start description section */


.p1{
    color: #07D2FF;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.container h2 a{
    color: white;
}

.description {
    background: black;
    color: #fff;
    text-shadow: 0 1px #000;
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 1.25rem;
    text-align: center;
    padding-bottom: 32px;
  }

  img{
      border-radius: 10px;
  }
  
  #photo-gallery {
    position: relative;
  }
  
  #photo-gallery .photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -0.625rem;
    margin-top: 0.625rem;
  }
  
  #photo-gallery .photos > div {
    height: 210px;
    margin: 0.625rem;
  }
  

  
  #photo-gallery .overview img {
    height: auto;
    width: 90%;
    max-height: 100%;
  }

  @media (min-width: 1040px) {
    .container {
      width: 960px;
    }
  }
  
  /* end description section */

  /* start competences section */

  .progress-bar { 
    height: 20px;  
    background: #555;
    border-radius: 25px;
    padding: 10px;
  }

  .progress-bar > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #00FF29;
    background-image: linear-gradient(to bottom, #00FF29, #05c525);
  }

  h2{
      color: white;
  }

    /* end competences section */


    
/* start apropos section */







/* end apropos section */


/* start footer section */













/* end footer section */