* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: black;

}



/* start header */


/* start burger menu */

.burger-menu {
  position: fixed;
  right: 0;
  padding: 0 30px;
  width: 90%;
  height: 100%;
  transition: all .6s ease-in-out;
  -webkit-transition: transform .7s ease-in-out;
  transform: translateX(100%);
  transform: translateY(100%);
  z-index: 99;


}




.btn-burger {
  padding: 1rem;
  position: fixed;
  text-align: -webkit-right;
  right: 10px;
  z-index: 100;
  cursor: pointer;
  width: 100%;
  background: black;

}

.btn-burger .barre {
  width: 30px;
  height: 4px;
  background: #00FF29;
  margin-top: 3px;
  border-radius: 2px;


}

.burger-menu.isOpen {
  transform: translateX(0%);
  transform: translateY(0%);
}

.burger-menu ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.burger-menu ul li {
  margin: 10px 0;
  list-style: none;
}


#btn-burger span:nth-child(1) {
  top: 0px;
}

#btn-burger span:nth-child(2) {
  top: 18px;
}

#btn-burger span:nth-child(3) {
  top: 36px;
}

#btn-burger.isOpen span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#btn-burger.isOpen span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#btn-burger.isOpen span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}






/* end burger menu */
h1 {
  color: #FFA500;
}

.header-container {
  background-size: 100% 100%;
  background-color: black;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . ."
    ". Nav Nav . . . . . . . . ."
    ". Nav Nav . Logo Logo Logo Logo . . . ."
    ". Nav Nav . Logo Logo Logo Logo . . . ."
    ". Nav Nav . . . . . . . . ."
    ". . . . . icon icon . . . . .";
}

.Logo {

  text-align: center;
  grid-area: Logo
}

.Nav-bar {
  grid-area: Nav
}

.icon {
  color: white;
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 75px;
  padding-top: 75px;
}

.dif {
  padding-bottom: 0px;
  padding-top: 0px;
}

.mouse {
  width: 25px;
  height: auto;
}

.list-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  transform: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}


.list-holder:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.list-title,
.list-titl {
  text-decoration: none;
  color: #07D2FF;
  transition: all .2s ease-in-out;
}

.list-holder .list-title:hover,
.list-titl:hover {
  color: #00FF29;
  text-transform: uppercase;
  font-size: 18px;
}


@media screen and (min-width: 842px) {
  .btn-burger {
    display: none;
  }

  .burger-menu {
    display: none;
  }
}

@media screen and (max-width: 842px) {
  .Nav-bar {
    display: none;
  }


}


/* end header */


/* start description section */


.p1 {
  color: #07D2FF;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.container h2 a {
  color: white;
}

.description {
  background: black;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0rem 1.25rem;
  text-align: center;
  padding-bottom: 32px;
}



.git-hover:hover {
  color: #00FF29;
  cursor: pointer;
  transition: .6s;
  text-transform: uppercase;
}

img {
  border-radius: 10px;
}

#photo-gallery {
  position: relative;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -0.625rem;
  margin-top: 0.625rem;
}

#photo-gallery .photos>div {
  height: 210px;
  margin: 0.625rem;
}

#photo-gallery .overview img {
  height: auto;
  width: 90%;
  max-height: 100%;
}

@media (min-width: 1040px) {
  .container {
    width: 960px;
  }
}

/* end description section */

/* start competences section */

#competences {
  background-color: black;
  padding-bottom: 32px;
}

.progress-bar {
  height: 20px;
  background: #555;
  border-radius: 25px;
  padding: 10px;
}

.progress-bar>span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #00FF29;
  background-image: linear-gradient(to bottom, #00FF29, #05c525);
}

h2 {
  color: white;
}

/* end competences section */


/* start apropos section */

.apropos {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 32px;
}


.phts {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.down {
  justify-content: space-evenly;
  padding-top: 3rem;
}

.apro {
  text-align: center;
}

@media (min-width: 1040px) {
  .apropos {
    width: 960px;
  }

}



@media screen and (max-width: 1040px) {
  .apropos {
    flex-direction: column;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .apropos .right img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .right {
    padding-top: 1rem;
  }

  .apropos .up {
    padding-left: 30px;
    padding-right: 35px;
  }

  .apropos .up p {
    font-size: 16px;
  }
}


/* end apropos section */


/* start footer section */

.contactt {
  margin-top: 5rem;
}

.containerr {
  padding: 20px;
  width: 86%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.flex-footer {
  display: flex;
  min-width: 400px;
  justify-content: space-around;
  margin-top: 5rem;
}

.social {
  margin-top: 5rem;
}

footer .social-media {
  display: flex;
  justify-content: center;
}

footer .circle {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}

footer ul {
  text-align: left;
  width: 100%;
}

footer ul li a {
  text-decoration: none;

  color: rgb(7, 210, 255);
}

.cv {
  text-align: center;
}

.cv h1:hover {
  color: #00FF29;
  transition: .6s;
  cursor: pointer;
  text-transform: uppercase;
}

footer {
  background-color: black;
  color: #07D2FF;
  padding: 50px 0;
}

.footer {
  align-items: flex-start;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-bottom: 20px;
}

footer .logo-bottom {
  color: #fff;
}

footer .social-media {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

footer .circle {
  border: 1px solid #FFA500;
  border-radius: 50%;
  border-width: 3px;
  color: #FFA500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  transform: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .circle:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #00FF29;
  border-color: #00FF29;

}

.fas-fa-envelope {
  margin-left: 4px;
}

.flex-footer li a:hover {
  color: #00FF29;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 904px) {

  .flex-footer {
    flex-direction: column;
    min-width: 100%;
  }

  .containerr {
    display: block;
    margin-top: -1rem;
  }

  footer ul {
    text-align: center;
    width: 100%;
  }



  .flex-footer,
  .social {
    margin-top: 3rem;
  }


}

.copyr {
  font-size: 0.8rem;
  letter-spacing: 1.8px;
  color: #fff;
}

.copyright {
  text-align: center;
}




/* end footer section */

/* Start pop-up */



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: black;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;

  color: #06D85F;
}

@media screen and (max-width: 700px) {

  .popup {
    width: 80%;
  }
}

/* End pop-up */